.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  background-color: #849d8f;

  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
}

a {
  font-weight: bold;
  color: #ffffff;
}



.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

/* BOX_SIZING */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Кнопки */
.button {
  border: none;
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 1px 1px rgba(172, 16, 0, 1);
  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  text-align: center;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  outline: none;
  background-color: #ed705e;
  background-image: linear-gradient(90deg, #ed705e 0%, #f58669 100%);
  box-shadow: 0px 2px 0px 0px rgba(172, 16, 0, 1);
  cursor: pointer;
}

.button:active {
  outline: none;
  background-color: #e74a35;
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  cursor: pointer;
}


/* Хедер */
/* Главное меню */
.main-navigation {
  display: flex;
  flex-wrap: wrap;
  padding-top: 9px;
}

/* Лого */
.main-logo {
  margin-right: 10px;
  line-height: 0;
}

.main-logo img {
  margin: 0;
  padding: 0;
  width: 154px;
  height: 64px;
}

/* Главное меню */
.site-nav-main,
.site-nav-other {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav-element {
  font-size: 16px;
  line-height: 18px;
  margin-right: 2px;
  padding-left: 14px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 13px;
  background-color: transparent;
  border-radius: 16px;
}

.site-nav-element:hover,
.site-nav-element:focus {
  background-color: #f7f6f3;
  color: #000000;
  text-decoration: none;
}

.site-nav-element:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  text-decoration: none;
}

/* Выпадающее меню */
.site-nav-main li {
  position: relative;
}

.submenu-catalog {
  display: none;
  position: absolute;
  top: 25px;
  left: -5px;
  z-index: 1;
}

.site-nav-main>li:hover .submenu-catalog {
  display: block;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 0;
  margin-top: 5px;
  list-style: none;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.catalog-item {
  /* важно */
  min-width: 143px;  
  /* важно */
}

.catalog-item a {
  /* важно */
  display: block;
  /* важно */
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #000000;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 9px;
  padding-bottom: 6px;
  text-decoration: none;
  border-radius: 0;
}

.catalog-item a:last-child {
  padding-bottom: 15px;
}

.catalog-item-hot a {
  padding-top: 13px;
  font-weight: bold;
}

.catalog-item-hot {
  position: relative;
}

.catalog-item-hot::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 6px;
  width: 128px;
  height: 1px;
  background-color: rgba(53, 53, 53, .2);
}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
}

.catalog-list a:active {
  background-color: #f6b5a5;
}


/* Правое главное меню */
.site-nav-other {
  margin-left: auto;
}

.site-nav-other a {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: none;
  border-radius: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 17px;
  margin-right: 10px;
}

.site-nav-other a:last-child {
  margin-right: 0;
}

.site-nav-other a:hover,
.site-nav-other a:focus,
.site-nav-other a:active {
  background-color: #f7f6f3;
  color: #000000;
  text-decoration: none;
}

/* кнопка поиска */
.site-nav-other .button-search {
  display: flex;
  padding: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(225, 225, 225, 0.2);
  width: 32px;
  height: 32px;
}

.button-search:hover path,
.button-search:focus path,
.button-search:active path {
  fill: #000000;
}

/* выпадающая форма поиска */
.site-nav-other li {
  position: relative;
}

.search {
  display: none;
  position: absolute;
  right: 10px;
  top: 31px;
  z-index: 1;
}

.site-nav-other>li:hover .search {
  display: block;
}

.search-form,
.login-form {
  margin-top: 5px;
  background-color: #f8f7f4;
  border-radius: 5px;
}

.search-form input {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  width: 311px;
  height: 44px;
  padding-left: 15px;
  margin: 20px 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.search-form input::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.search-form input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.search-form input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

/* кнопка логина */
.button-login {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.2);
  min-height: 32px;
  width: 93px;
  padding-left: 16px;
}

.button-login svg {
  margin-bottom: 1px;
  margin-right: 5px;
}

.button-login:hover g,
.button-login:focus g,
.button-login:active g {
  fill: #000000;
}

/* выпадающая форма логина */
.login {
  position: absolute;
  right: 10px;
  top: 31px;
  display: none;
  z-index: 1;
}

.site-nav-other>li:hover .login {
  display: block;
}

.section-login p {
  margin: 0;
  padding: 0;
}

.login-item-info a {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}

.login-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.login-item input::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.login-item input {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  width: 241px;
  height: 44px;
  padding-left: 15px;
  margin-left: 19px;
  margin-top: 20px;
  margin-right: 17px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.login-item input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.login-item input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.button-login-form {
  width: 100px;
  min-height: 44px;
  margin-left: 19px;
  margin-top: 20px;
  margin-bottom: 22px;
  border-radius: 21px;
}

.section-login .login-item-info {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-right: 20px;
  padding-top: 18px;
}

.login-item-info a {
  text-decoration: underline;
  padding: 0;
  margin: 0;
}

.login-item-info a:hover,
.login-item-info a:focus,
.login-item-info a:active {
  color: #e84d37;
  text-decoration: underline;
}

/* кнопка корзины */
.button-basket {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: rgba(225, 225, 225, 0.2);
  min-height: 32px;
  width: 100px;
  padding-left: 16px;
  padding-top: 10px;
}

.button-basket svg {
  margin-right: 7px;
}

.button-basket:hover g,
.button-basket:focus g,
.button-basket:active g {
  fill: #000000;
}

/* header контакты */
.header-contacts {
  text-align: right;
}

.header-contacts-time {
  margin: 0px;
  padding-bottom: 6px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
}

.header-contacts-phone {
  font-size: 22px;
  line-height: 24px;
  text-align: right;
  text-decoration: none;
}

/* MAIN */
/* Слайды Напоминалка - анимация - двумерные трансформации кнопки*/
.slides {
  /* на будущее */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  /* align-items: flex-end; */
  min-height: 523px;
  margin-bottom: 40px;
}

.wrapper-list-button {
  /* на будущее */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.slides-list,
.slides-switch-list {
  list-style: none;
}

.slides-list {
  width: 665px;
  min-height: 116px;
  padding: 0px;
}

.slides-list li:nth-child(1) {
  background-image: url("../img/icecream-double-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slides-list li:nth-child(2) {
  background-image: url("../img/icecream-double-2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slides-list li:nth-child(3) {
  background-image: url("../img/icecream-double-3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slides-item {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.button-give-me-both {
  width: 280px;
  min-height: 64px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
}


/* секция спецпредложений */
.special-offers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
}

.special-offers-item {
  width: 560px;
  min-height: 230px;
}

.special-offers-item:nth-child(1) {
  background-image: url("../img/raspberries-layer.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.special-offers-item:nth-child(2) {
  background-image: url("../img/chocolate-layer.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.special-offers-list h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color: #ffffff;
}

.special-offers-list p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
}

.button-special-offer {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

/* Секция фьючеров */
.features {
  min-height: 306px;
  background-image: url("../img/vaffle-layer.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 26px;
  margin-bottom: 40px;
}

.features b {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  text-align: left;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #323232;
  margin-bottom: 10px;
  padding-left: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  /*важно*/
  width: 1146px;
  /*важно*/
  padding: 0;
  padding-right: 20px;
  margin: 0;
}

.features-item {
  position: relative;
  padding-left: 76px;
  padding-top: 12px;
  padding-bottom: 10px;
  padding-right: 7px;
  width: 560px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
  color: #323232;
}

.features-item::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 49px;
  left: 20px;
  top: -4px;

}

.features-item-icecream::before {
  background-image: url("../img/ice-cream-icon.svg")
}

.features-item-leaf::before {
  background-image: url("../img/leaf-icon.svg")
}

.features-item-cow::before {
  background-image: url("../img/cow-icon.svg")
}

.features-item-termometr::before {
  background-image: url("../img/termometr-icon.svg")
}


/* Новое в блоге */
.news-mailing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.blog-news {
  background-color: #ffffff;
  background-image: url("../img/strawberry-layer.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 560px;
  min-height: 220px;
  border-radius: 10px;
}

.blog-news h2 {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 24px;
  margin-bottom: 0;
}

.blog-news-header {
  display: block;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  margin-left: 20px;
  margin-top: 5px;
  width: 300px;
}

.blog-news-header:hover,
.blog-news-header:focus,
.blog-news-header:active {
  color: #e84d37;
}

/* Форма подписки */
.subscription-form {
  background-color: #ffffff;
  background-image: url("../img/post-layer.svg");
  width: 555px;
  min-height: 215px;
  padding-top: 5px;
  padding-left: 5px;
  border-radius: 10px;
}

.subscription-form-background {
  width: 550px;
  min-height: 210px;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.subscription-form p {
  margin: 0;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
  padding-top: 30px;
  padding-left: 19px;
  padding-right: 24px;
}

.form-mailing {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 38px;
  padding-left: 20px;
  padding-right: 21px;
}

.form-mailing input {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 15px;
  width: 368px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.form-mailing input::placeholder {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.form-mailing input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.form-mailing input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}


.button-form-mailing {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  width: 129px;
  min-height: 44px;
  border-radius: 21px;
}

/* карта */
.map-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/map-placeholder.jpg");
  background-position: top;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 430px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.adress-item {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  width: 302px;
  min-height: 305px;
  margin-right: 27px;
}

.adress-item-text,
.adress-item-header a {
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: #000000;
}

.button-feedback {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

/* форма обратной связи */
.modal-feedback-form {
  /* display: none; */
  position: absolute;
  /* временно */
  top: -5px;
  left: 5px;
  /* временно */
  width: 478px;
  min-height: 443px;
  border-radius: 10px;
  background-color: #f8f7f4;
  z-index: 1;
}

.modal-feedback-form-slogan {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin: 0;
  padding-left: 24px;
  padding-top: 20px;
  color: #323232;
}

.feedback-form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-left: 24px;
  padding-top: 24px;
}

.feedback-item {
  margin: 0;
  padding-bottom: 20px;
}

.feedback-item-name,
.feedback-item-mail {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  width: 267px;
  height: 44px;
  padding-left: 15px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.feedback-item-name::placeholder,
.feedback-item-mail::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.feedback-item-name:hover,
.feedback-item-mail:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-item-name:focus,
.feedback-item-mail:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.feedback-item-text {
  width: 428px;
  height: 155px;
  resize: none;
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 10px;
  border: 1px solid #d3d3d2;
  border-radius: 4px;
}

.feedback-item-text::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.feedback-item-text:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.feedback-item-text:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.button-form-feedback {
  margin-left: auto;
  margin-right: 25px;
  width: 139px;
  min-height: 44px;
  border-radius: 21px;
}


.modal-close {
  position: absolute;
  border: none;
  background-color: transparent;
  color: transparent;
  width: 18px;
  height: 17px;
  background-image: url("../img/x-big.svg");
  right: 25px;
  top: -30px;
  cursor: pointer;
}


/* Футер */
footer {
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;  
  min-height: 103px;  
  /* margin-top: 7px; */
}

.footer-container {
  padding-top: 7px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-list,
.footer-documents-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 28px;
}

/* social icons */
.footer-social-list {
  margin-right: 236px;
}

.footer-social-item {
  margin-right: 11px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-item svg {
  width: 38px;
  height: 38px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.footer-social-item:hover svg {
  background-color: rgba(255, 255, 255, 0.5);
}

/* documents */
.footer-documents {
  margin-top: -8px;
}

.footer-documents-list {
  /* Важно */
  height: 40px;
  /* Важно */
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.footer-documents-list a {
  font-weight: normal;
  margin-right: 32px;
}

.footer-documents-item:first-child a {
  font-weight: bold;
}

.footer-documents-item:first-child::before {
  position: absolute;
  content: "";
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  background-position: top center;
  background-repeat: no-repeat;
  left: -22px;
  top: 2px;
}

.footer-documents-list a:hover,
.footer-documents-list a:focus,
.footer-documents-list a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
}

/* copyright */
.footer-copyright {
  margin-left: auto;
  padding-top: 6px;
  padding-left: 2px;
  font-size: 12px;
  line-height: 16px;
}

.footer-copyright p {
  margin: 0;
  padding: 0;
}


/* стилис catalog.html */
/* активный элемент главного меню Каталог */
.site-nav-active-link {
  background-color: #d07058;
  text-decoration: none;
}

/* кнопка активной корзины */
.button-basket-active {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  height: 32px;
  width: 117px;
  padding-left: 16px;
  padding-top: 10px;
}

.button-basket-active svg {
  margin-right: 5px;
}

/* попап корзины */
.basket {
  display: none;
  position: absolute;
  right: 10px;
  top: 31px;
  z-index: 1;
}

.site-nav-other>li:hover .basket {
  display: block;
}

.section-basket {
  width: 540px;
  margin-top: 5px;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: #f8f7f4;
}

.basket-list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 20px;
  padding-top: 3px;    
  padding-bottom: 30px;
}

.basket-item {
  display: flex;
  flex-wrap: wrap;
}

.basket-list a {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-right: 32px;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: left;
}

.basket-item-image {
  height: 33px;
  width: 46px;
  padding-right: 13px;
}

.basket-item-name {
  display: inline-block;
  padding-top: 7px;
  width: 216px;  
}

.basket-weight-price {
  padding-top: 27px;
  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
}

.basket-item-price {
  color: #999999;
  padding-right: 25px;
}

.delete-item {
  border: none;
  background-color: transparent;
  color: transparent;
  width: 9px;
  height: 11px;
  background-image: url("../img/x-small.svg");
  background-position: top center;
  background-repeat: no-repeat;
  margin-right: 9px;
  margin-top: 27px;
  cursor: pointer;
  order: -1;
}

.basket-list::after {
  position: absolute;
  content: "";
  left: 15px;
  bottom: 14px;
  width: 510px;
  height: 1px;
  background-color: rgba(53, 53, 53, .2);
}

.basket-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.basket-itog {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;  
  letter-spacing: normal;  
  color: #323232;
  margin: 0;
  margin-right: 15px;
  margin-bottom: 15px;
  text-align: right;
}

.button-modal-basket-list {
  font-size: 18px;
  line-height: 24px;
  margin-left: auto;
  margin-right: 16px;  
  margin-bottom: 21px;
  width: 170px;  
  min-height: 44px;
  border-radius: 21px;  
}

/* main ctalog.html */
/* Заголовок h1 */
.catalog-page .header-main {
  /* padding-bottom: 12px; */
}

.main-head-catalog {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

/* меню магазина */
.wraper-header-menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
}

.main-head-catalog {
  margin: 0;
  order: 1;
  margin-bottom: 30px;
}

.shop-menu {  
  position: absolute;
  top: -22px;
}

.shop-menu-list {  
  display: flex;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  list-style: none;  
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.shop-menu-item {
  position: relative;
}

.shop-menu-item a {
  padding-right: 20px;
}

.shop-menu-item a::after {
  position: absolute;
  content: "»";  
  top: 0px;
  right: 6px;
}

.shop-menu-list a:hover,
.shop-menu-list a:focus,
.shop-menu-list a:active {
  color: #ffbc9e;
}


/* форма фильтров */
.form-filters {
  margin-bottom: 40px;
  width: 860px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.filter-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-form legend {
  line-height: 16px;
}

.filter-form .filter-sort {
  width: 194px;
  min-height: 56px;
  margin-right: 14px;
  margin-bottom: 18px;
}

.filter-form .filter-price {
  width: 220px;
  min-height: 56px;
  margin-right: 14px;
  margin-bottom: 18px;
}

.filter-form .filter-fat {
  width: 415px;
  min-height: 56px;
  margin-bottom: 18px;
}

.filter-form .filter-fill {
  width: 703px;
  min-height: 56px;
  margin-right: 13px;
}

.filter-form ul {
  list-style: none;
}

.button-filter-form {
  width: 144px;
  min-height: 56px;
  font: inherit;

  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
}

.button-filter-form:hover,
.button-filter-form:focus {
  background-color: #ffffff;
  color: #000000;
}

.button-filter-form:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  color: #000000;
}

/* карточки товаров */
.catalog, .top-sellers {
  width: 1200px;
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;  
}

.catalog-product {  
  position: relative;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;  
}

.product-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 293px;
  padding-top: 6px;
  padding-left: 13px;
  padding-right: 13px;  
}

.product-item:hover {
  z-index: 2
}

.product-item:hover::after {
  position: absolute; 
  content: "";
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -46px; 
  z-index: -1;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);
}

.product-item:hover .button-quick-view {
  position: absolute;
  display: block;
  bottom: -25px;
  left: 46px;
}

.button-quick-view {
  display: none;
  width: 200px;
  min-height: 44px;
  border-radius: 21px;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;  
  letter-spacing: normal;
  text-align: center;
  color: #fefefe;
  margin-left: auto;
  margin-right: auto; 
}

.product-item h3 {
  text-align: center;
  order: 2;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 34px;
}

.product-item-price {
  position: absolute;
  top: 214px;
  left: 13px;  
  margin: 0;
}

.product-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;  
}

.product-item-title:hover,
.product-item-title:focus,
.product-item-title:active {
  color: #ffbc9e;
}

.product-item-price {
  text-align: left;
  color: #ffffff;
}

.product-item-money {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-item-weight {
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  margin-left: -9px;
}

/* пагинатор */
.catalog-paginator-list {
  list-style: none;
}

.paginator-item a {
  text-decoration: none;
}

.paginator-item a:hover,
.paginator-item a:focus,
.paginator-item a:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator-item-current a {
  background-color: #ffffff;
  color: #000000;
}
