.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  background-color: #849d8f;

  font-family: "Roboto", Arial, sans-serif;
  color: #000000;

  /* box-sizing: border-box; */
}

a {
  font-weight: bold;
  color: #ffffff;  
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding-left: 27px;
  padding-right: 27px;
}

/* BOX_SIZING */
/*html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}*/

/* Кнопки */
.button {
  border: none;
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 1px 1px rgba(172, 16, 0, 1);

  font-family: Roboto;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  text-align: center;
  vertical-align: middle;
}

.button:hover,
.button:focus {
  outline: none;
  background-color: #ed705e;
  background-image: linear-gradient(90deg, #ed705e 0%, #f58669 100%); 

  box-shadow: 0px 2px 0px 0px rgba(172, 16, 0, 1);
}

.button:active {
  outline: none;
  background-color: #e74a35;
  background-image: linear-gradient(90deg, #e74a35 0%, #f26843 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}


/* Хедер */
/* Гдлавное меню */
.main-navigation {
  display: flex;
  margin-top: 9px;

  min-height: 64px;
}

.site-nav-other {
  margin-left: auto;
}

.site-nav-main,
.site-nav-other,
.catalog-list {
  list-style: none;
}

.site-nav-main a {
  font-size: 16px;
  line-height: 18px;  
}

.site-nav-other a {
  font-size: 14px;
  line-height: 16px;  
  font-weight: 500;
  text-decoration: none;
}

.site-nav-main a:hover,
.site-nav-other a:hover,
.site-nav-main a:focus,
.site-nav-other a:focus {
  background-color: #f7f6f3;
  color: #000000;
  text-decoration: none;
}

.site-nav-main a:active,
.site-nav-other a:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  text-decoration: none;
}

/* Временно скрытые попапы хедера */
.submenu-catalog,
.modal-search,
.modal-login {
  display: none;
}

/* на будущее */
/*.catalog-list {
  font-weight: normal;
}

.catalog-list {
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-list a {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

.catalog-item-hot {
  font-weight: bold;
}

.catalog-list a:hover,
.catalog-list a:focus {
  background-color: #fbded7;
}

.catalog-list a:active {
  background-color: #f6b5a5;
  box-shadow: none;
}

.search-form,
.login-form {
  background-color: #f8f7f4;
}

.search-form input,
.login-form input {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.login-item-info a {
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
}*/

/* header контакты */
.header-contacts {
  text-align: right;
}

.header-contacts-time {
  margin-top: 0px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  text-align: right;
  color: #ffffff;
}

.header-contacts-phone {
  font-size: 22px;
  line-height: 24px;  
  text-align: right;  
  text-decoration: none;
}

/* MAIN */
/* Слайды */
.slides {
  /* на будущее */
  /* display: flex; */
  /* align-items: flex-end; */
  min-height: 523px;  
  margin-bottom: 40px;
}

.wrapper-list-button {
  /* на будущее */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  /* align-items: center; */
}

.slides-list,
.slides-switch-list {
  list-style: none;
}

.slides-list {
  width: 665px;
  min-height: 116px;
  padding: 0px;
}

.slides-list li:nth-child(1) {
  background-image: url("../img/icecream-double-1.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slides-list li:nth-child(2) {
  background-image: url("../img/icecream-double-2.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slides-list li:nth-child(3) {
  background-image: url("../img/icecream-double-3.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.slides-item {
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.button-give-me-both {
  width: 280px;
  min-height: 64px;
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
  color: #ffffff;
}

/* на будущее */
/* .slides-switch-list { */
  /* order: -1; */
/* } */


/* секция спецпредложений */
.special-offers-list {  
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;  
  margin-bottom: 40px;
}

.special-offers-item {
  width: 560px;
  min-height: 230px;  
}

.special-offers-item:nth-child(1) {
  background-image: url("../img/raspberries-layer.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.special-offers-item:nth-child(2) {
  background-image: url("../img/chocolate-layer.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.special-offers-list h3 {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;  
  color: #ffffff;
}

.special-offers-list p {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;  
  color: #ffffff;
}

.button-special-offer {
  float: right;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

/* Секция фьючеров */
.features {
  min-height: 275px;
  background-image: url("../img/vaffle-layer.png");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 30px;
  margin-bottom: 40px;
}

.features b {
  display: block;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;  
  margin-bottom: 10px;
  margin-left: 20px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 20px;
}

.features-item {
  padding-right: 33px;
  padding-left: 50px;
  width: 480px;
}



/* Новое в блоге */
.news-mailing {
  display: flex;
  justify-content: space-between;  
  margin-bottom: 40px;
}

.blog-news {
  background-color: #ffffff;
  background-image: url("../img/strawberry-layer.png");
  background-position: top;
  background-repeat: no-repeat;
  width: 560px;  
  min-height: 220px;
}

.blog-news h2 {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog-news-header {
  color: #323232;
  font-size: 24px;
  line-height: 30px;  
  font-weight: 700;
}

.blog-news-header:hover,
.blog-news-header:focus,
.blog-news-header:active {
  color: #e84d37;  
}

/* Форма подписки */
.subscription-form {
  background-color: #ffffff;
  background-image: url("../img/post-layer.svg");
  background-position: top;
  background-repeat: no-repeat;
  width: 560px;  
  min-height: 220px;
  padding-top: 5px;
  padding-left: 5px;
}

.subscription-form-background {
  width: 550px;
  min-height: 210px;
  background-color: #f8f7f4;  
}

.subscription-form p {
  margin: 0;
  color: #5a5a5a;
  font-size: 16px;
  line-height: 22px;
}

.form-mailing input::placeholder {
  color: #999999;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
}

.form-mailing input {
  color: #323232;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.button-form-mailing {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;  
}

.map-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../img/map-placeholder.jpg");
  background-position: top;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 430px;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.adress-item {
  background-color: #ffffff;
  font-size: 14px;
  line-height: 20px;  
  color: #000000;
  width: 302px;
  min-height: 305px;
  margin-right: 27px;
}

.adress-item-text,
.adress-item-header a {
  font-size: 18px;
  line-height: 24px;  
  text-decoration: none;
  color: #000000;
}

.button-feedback {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

/* временн скрытая форма обратной связи */
.modal-feedback-form {
  display: none;
}


/* Футер */
footer {  
  color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  width: 1200px;
  min-height: 103px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list,
.footer-documents-list {
  list-style: none;
}

.footer-documents-item-bold {
  font-weight: bold;
}

.footer-documents-list a:hover,
.footer-documents-list a:focus,
.footer-documents-list a:active,
.footer-copyright a:hover,
.footer-copyright a:focus,
.footer-copyright a:active {
  color: #ffbc9e;
}

.footer-copyright {
  font-size: 12px;
  line-height: 16px;
}

/* стилис catalog.html */
/* активный элемент главного меню Каталог */
.site-nav-active-link {
  background-color: #d07058;
  text-decoration: none;
}

.carpet-active a {
  background-color: #ffffff;
  color: #000000;
}

/* временно скрытый попап корзины */
.modal-carpet-list {
  display: none;
}

/* main ctalog.html */
/* Заголовок h1 */
.main-head-catalog {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

/* меню магазина */
.shop-menu-list {
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  list-style: none;
  color: #ffffff;
}

.shop-menu-list a:hover,
.shop-menu-list a:focus,
.shop-menu-list a:active {
  color: #ffbc9e;
}


/* форма фильтров */
.filter-form fieldset {
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-form {
  font-size: 14px; 
  line-height: 18px; 
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.filter-form legend {
  line-height: 16px;
}

.filter-form ul {
  list-style: none;
}

.button-filter-form {
  font: inherit;

  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;

  text-align: center;
  vertical-align: middle;
}

.button-filter-form:hover,
.button-filter-form:focus {
  background-color: #ffffff;
  color: #000000;
}

.button-filter-form:active {
  box-shadow: inset 0px 2px 1px 0 #696969;
  background-color: #ededed;
  color: #000000;
}

/* карточки товаров */

.catalog-product {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.product-item {
  width: 267px;
}

.product-item:hover {  
  box-shadow: 0px 20px 20px 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(248, 247, 244, 0.2);  
}

.product-item-title {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.product-item-title:hover,
.product-item-title:focus,
.product-item-title:active {
  color: #ffbc9e;
}

.product-item-price {
  text-align: left;
  color: #ffffff;
}

.product-item-money {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-item-weight {
  font-size: 30px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

/* пагинатор */
.catalog-paginator-list {
  list-style: none;
  float: right;
}
.paginator-item a {  
  text-decoration: none;
}

.paginator-item a:hover,
.paginator-item a:focus,
.paginator-item a:active {
  background-color:  rgba(255, 255, 255, 0.2);
}

.paginator-item-current a {
  background-color: #ffffff;
  color: #000000;
}








